body {
    font-family: 'Poppins', sans-serif;
    ;
}

p {
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;

}

.orange {
    color: rgb(248, 171, 27);
}

.flex {
    display: flex;
    margin: 50px;
}

.usa {
    padding-left: 50px;
    padding-top: 60px;
    width: 50%;
}

.usa img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.banner2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 40px;
}

.dream-big {
    width: 50%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 90px;

}

.dream-big img {
    width: 80%;
}

.Experiences {
    width: 50%;
}

.experiences-item {
    width: 40%;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px;
    box-shadow: 10px 5px 40px grey;
    border-left: 10px solid;

}

#border-ex {
    border-image: linear-gradient(blue, cyan)10;
}

#border-full {
    border-image: linear-gradient(orange, red)10;
}

.Last-bg {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer {
    text-align: center;
}